<!-- <h1>form</h1> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/form1">form1 </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light" routerLink="/form2">form2</a>

        </li>
   
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/form3" >form3</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/form4" >form4</a>
        </li>

          
          
      </ul>
     
   
      
    </div>
  </nav>