
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-light" routerLink="/about">About</a>

        </li>
   
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/help" >Help</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/property-binding" >Property-binding</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-light" routerLink="/event-binding" >Event-binding</a>
          </li>
          
        
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/ng-for" >ng-for</a>
          </li>
  

          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/two-way" >Two-way-binding</a>
          </li>

          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/ng-switch" >ng-switch</a>
          </li>

          <li class="nav-item">
              <a class="nav-link text-light" routerLink="/register" >Register</a>
            </li>
          
          <li class="nav-item">
              <a class="nav-link text-light" routerLink="/reactive-form" >Reactive-form</a>
            </li>
          
         <li class="nav-item">
                <a class="nav-link text-light" routerLink="/parent" >Parent</a>
          </li>
              
           <li class="nav-item">
             <a class="nav-link text-light" routerLink="/comment-details" >Comment-details</a>
           </li>    
      </ul>
     
     <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Login </a>
        </li>
        </ul>
      
    </div>
  </nav>